$primary_color: #ffb700;
$black_color: #000;
$secondary_color: #7f767d;
$white_color: #fff;
body {
    direction: rtl;
}

.logo_start {
    direction: ltr;
    padding: 10px 0;
    background-color: $white_color;
    display: none;
    img {
        width: 60px;
        height: 60px;
    }
    form {
        direction: rtl;
        margin-top: 5px;
        position: relative;
        border-radius: 15px;
        width: 100%;
    }
    .icon-search {
        position: absolute;
        top: 16px;
        left: 15px;
        color: $black_color;
    }
    .search {
        border: solid 1px $black_color;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
    }
    .form-group {
        border: none;
        a {
            position: relative;
            i {
                font-size: 24px;
                padding: 10px 22px;
                color: $black_color;
            }
            div {
                position: absolute;
                top: -60px;
                right: 210px;
                position: relative;
                color: $white_color;
                background-color: #7f767d;
                border-radius: 10px;
                width: 18px;
                height: 18px;
                span {
                    font-size: 14px;
                    position: absolute;
                    top: -2px;
                    right: 5px;
                }
            }
        }
    }
    button {
        padding: 10px 30px;
        border: 1px solid $primary_color;
        background-color: $primary_color;
        color: $black_color;
    }

    #select_data {
        background-color: $white_color;
        padding: 10px;
        padding-left: 50px;
        border: solid$black_color 1px;
        border-radius: 10px;
        cursor: pointer;
        font-family: "Cairo", sans-serif;
        font-weight: bold;
        option {
            font-weight: bold;
            background-color: #cbcbcb;
            color: $black_color;
            font-family: "Cairo", sans-serif;
        }
    }
}

@media (min-width: 992px) {
    .logo_start {
        display: block;
    }
}

// navbar

.navbar {
    background-color: $white_color;
    direction: ltr;
    .navbar-brand {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .nav-link {
        color: $black_color;
        margin-right: 20px;
        font-weight: bold;
        font-family: "Cairo", sans-serif;
    }

    .nav-data {
        direction: rtl;
        display: flex;
        padding-top: 10px;
        .nav-account {
            padding-right: 30px;
            display: flex;
            i {
                color: $black_color;
                font-size: 30px;
                padding: 10px;
                font-weight: bold;
            }

            h5 {
                color: $black_color;
                padding: 0px 5px 0 5px;
                font-size: 17px;
                font-weight: bold;
            }
            span,
            a {
                font-size: 12px;
                color: $black_color;
                padding-top: 3px;
                font-weight: bold;
            }
            .nav-icon-shopping {
                font-size: 15px;
                padding-right: 0;
                padding-top: 1px;
            }
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #cbcbcb;
            width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 30px 0;
            font-weight: bold;
            font-family: "Cairo", sans-serif;
            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                margin: 0px 30px;
                border-right: solid 2px #000;
                &:hover {
                    background-color: #cbcbcb;
                }
            }
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar {
        direction: rtl;
        background-color: $secondary_color;
        .nav-link {
            color: $white_color !important;
            &:hover {
                border-bottom: solid 1px $primary_color;
            }
        }
        .navbar-brand {
            display: none;
        }
        .navbar-brand img {
            width: 50%;
        }
    }
}

.section-found {
    text-align: center;
    padding: 30px 0;
    img {
        padding-bottom: 10px;
    }

    h4 {
        font-weight: bold;
        font-family: "Alexandria", sans-serif;
        font-family: "Almarai", sans-serif;
        font-family: "Amiri", serif;
        font-family: "Cairo", sans-serif;
        font-family: "IBM Plex Sans Arabic", sans-serif;
    }
}

.form-services {
    h2 {
        font-family: "Alexandria", sans-serif;
        font-family: "Amiri", serif;
        font-family: "Cairo", sans-serif;
        font-weight: bold;
        padding-top: 20px;
        padding-right: 50px;
    }
    span {
        color: $primary_color;
    }

    form {
        text-align: center;
        padding: 10px 0 50px;
        input {
            width: 45%;
            padding: 10px 25px;
            margin: 12px 10px;
            border-radius: 5px;
            border: solid 1px $primary_color;
        }
        .input-masseage {
            width: 92%;
            padding: 10px 25px 100px;
            margin: 12px 10px;
            border-radius: 5px;
            border: solid 1px $primary_color;
        }
        button {
            background-color: $primary_color;
            color: $black_color;
            width: 92%;
            font-weight: bold;
            border-radius: 5px;
            border: solid 1px $primary_color;
            padding: 10px 25px;
            margin-top: 10px;

            &:hover {
                background-color: $black_color;
                color: $white_color;
                border: solid 1px $black_color;
            }
        }
    }
}

footer {
    padding: 30px 0;
    background-color: #7f767d;
    color: #fff;
    margin-top: 50px;
    h3 {
        padding: 5px 30px;
        font-weight: bold;
    }
    h4 {
        color: $primary_color;
        padding: 10px 0;
    }
    h6 {
        padding: 12px 0;
    }
    .footer-icon {
        i {
            color: $primary_color;
            padding: 10px;
            cursor: pointer;
        }
    }
    ul {
        cursor: pointer;
        li {
            list-style: none;
            padding: 5px 0;
        }
    }
}

.footer-copy-right {
    background-color: $black_color;
    color: $white_color;
    padding: 15px 0;
    p {
        font-size: 14px;
        padding-top: 5px;
    }
}


@media (max-width: 991.98px) {
    .footer-data {
       padding-right: 30px;
       padding-bottom: 20px;
    }

    h3{
        padding-top: 20px;
    }
}


@media (max-width: 575.98px) {
    .footer-copy-right {
        img {
            width: 80%;
        }
    }
}
