@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  direction: rtl;
  overflow-x: hidden;
}

.logo_start {
  direction: ltr;
  padding: 10px 0;
  background-color: #fff;
  display: none;
}
.logo_start img {
  width: 60px;
  height: 60px;
}
.logo_start form {
  direction: rtl;
  margin-top: 5px;
  position: relative;
  border-radius: 15px;
  width: 100%;
}
.logo_start .icon-search {
  position: absolute;
  top: 16px;
  left: 15px;
  color: #000;
}
.logo_start .search {
  border: solid 1px #000;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
}
.logo_start .form-group {
  display: flex;
  border: none;
}
.logo_start .form-group h1 {
  font-size: 25px;
  padding: 5px;
}
.logo_start .form-group i {
  margin-right: 20px;
}
.logo_start .form-group a {
  position: relative;
}
.logo_start .form-group a i {
  font-size: 24px;
  padding: 10px 22px;
  color: #000;
}
.logo_start .form-group a div {
  position: absolute;
  top: -60px;
  right: 210px;
  position: relative;
  color: #fff;
  background-color: #7f767d;
  border-radius: 10px;
  width: 18px;
  height: 18px;
}
.logo_start .form-group a div span {
  font-size: 14px;
  position: absolute;
  top: -2px;
  right: 5px;
}
.logo_start button {
  padding: 10px 30px;
  border: 1px solid #ffb700;
  background-color: #ffb700;
  color: #000;
}
.logo_start #select_data {
  background-color: #fff;
  padding-left: 50px;
  border: solid #000 1px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}
.logo_start #select_data option {
  font-weight: bold;
  background-color: #cbcbcb;
  color: #000;
  font-family: "Cairo", sans-serif;
}

.form-group h1 {
  position: relative;
  top: 5px;
  left: 0%;
  cursor: pointer;
}

.form-group h1:before {
  content: attr(data-count);
  color: white;
  position: absolute;
  right: 7px;
  font-size: 15px;
  text-align: center;
  top: -13px;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  opacity: 0;
}

.form-group h1.zero:before {
  opacity: 1;
}

@media (min-width: 992px) {
  .logo_start {
    display: block;
  }
}
.navbar {
  background-color: #fff;
  direction: ltr;
}
.navbar .navbar-brand img {
  width: 60px;
  height: 60px;
}
.navbar .nav-link {
  color: #000;
  margin-right: 20px;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}
.navbar .nav-data {
  direction: rtl;
  display: flex;
  padding-top: 10px;
}
.navbar .nav-data .nav-account {
  padding-right: 30px;
  display: flex;
}
.navbar .nav-data .nav-account i {
  color: #000;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}
.navbar .nav-data .nav-account h5 {
  color: #000;
  padding: 0px 5px 0 5px;
  font-size: 17px;
  font-weight: bold;
}
.navbar .nav-data .nav-account span,
.navbar .nav-data .nav-account a {
  font-size: 12px;
  color: #000;
  padding-top: 3px;
  font-weight: bold;
}
.navbar .nav-data .nav-account .nav-icon-shopping {
  font-size: 15px;
  padding-right: 0;
  padding-top: 1px;
}
.navbar .dropdown {
  position: relative;
  display: inline-block;
}
.navbar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #cbcbcb;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 30px 0;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
}
.navbar .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 0px 30px;
  border-right: solid 2px #000;
}
.navbar .dropdown .dropdown-content a:hover {
  background-color: #cbcbcb;
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 992px) {
  .navbar {
    direction: rtl;
    background-color: #7f767d;
  }
  .navbar .nav-link {
    color: #fff !important;
  }
  .navbar .nav-link:hover {
    border-bottom: solid 1px #ffb700;
  }
  .navbar .navbar-brand {
    display: none;
  }
  .navbar .navbar-brand img {
    width: 50%;
  }
}
.watsapp-icon i {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 10;
  font-size: 40px;
  border-radius: 50%;
  color: rgb(48, 199, 104);
  padding: 5px;
  cursor: pointer;
}

.hero_icon {
  background-color: #3c383b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid #ffdd00 5px;
  position: fixed;
  z-index: 9;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}
.hero_icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-top: 10px;
  font-size: 20px;
}

.hero-section img {
  position: relative;
  height: 550px;
}
.hero-section .overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
.hero-section .hero-data {
  position: absolute;
  top: 100px;
  right: 200px;
  color: #fff;
}
.hero-section .hero-data h1 {
  font-size: 90px;
  font-weight: bold;
}
.hero-section .hero-data h2 {
  font-weight: bold;
  font-size: 45px;
  color: #ffb700;
}
.hero-section .hero-data h3 {
  font-weight: bold;
  font-size: 35px;
}
.hero-section .hero-data button {
  background-color: #fff;
  color: #66bbf2;
  padding: 12px 40px;
  margin-top: 30px;
  font-weight: bold;
  border: solid #fff 1px;
  border-radius: 7px;
}

@media (max-width: 575.98px) {
  .hero-section .hero-data {
    position: absolute;
    top: 100px;
    right: 40px;
    color: #fff;
  }
  .hero-section .hero-data h1 {
    font-size: 45px;
    font-weight: bold;
    padding-top: 10px;
  }
  .hero-section .hero-data h2 {
    font-size: 35px;
    color: #ffb700;
    margin-top: 30px;
  }
  .hero-section .hero-data h3 {
    font-size: 30px;
  }
  .hero-section .hero-data button {
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  .hero-section .hero-data {
    position: absolute;
    top: 120px;
    right: 80px;
    color: #fff;
  }
  .hero-section .hero-data h1 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
  }
  .hero-section .hero-data h2 {
    font-size: 40px;
    color: #ffb700;
    margin-top: 30px;
  }
  .hero-section .hero-data h3 {
    font-size: 35px;
  }
  .hero-section .hero-data button {
    margin-top: 30px;
  }
}
.About {
  padding: 50px 0;
}
.About .About-data {
  display: flex;
  justify-content: space-between;
}
.About .About-data h2 {
  font-family: "Alexandria", sans-serif;
  font-family: "Amiri", serif;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}
.About .About-data span {
  color: #ffb700;
}
.About .About-data button {
  background-color: #ffb700;
  color: #000;
  margin-top: 2px;
  font-weight: bold;
  padding: 5px 30px;
  border: solid 2px #ffb700;
}
.About .About-data button:hover {
  background-color: #000;
  color: #fff;
  margin-top: 2px;
  font-weight: bold;
  padding: 5px 30px;
  border: solid 2px #000;
}
.About .About-item {
  text-align: center;
  cursor: pointer;
  padding: 20px 0 10px;
  margin: 20px 0 20px;
  box-shadow: 0px 0px 7px 3px #bfbfbf;
}
.About .About-item h5 {
  font-family: "Alexandria", sans-serif;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}
.About .About-item img {
  width: 100%;
}

.services {
  padding: 20px 0 30px;
}
.services .services-data {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.services .services-data h2 {
  font-family: "Alexandria", sans-serif;
  font-family: "Amiri", serif;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
}
.services .services-data span {
  color: #ffb700;
}
.services .services-data button {
  background-color: #ffb700;
  color: #000;
  margin-top: 2px;
  font-weight: bold;
  padding: 5px 30px;
  border: solid 2px #ffb700;
}
.services .services-data button:hover {
  background-color: #000;
  color: #fff;
  margin-top: 2px;
  font-weight: bold;
  padding: 5px 30px;
  border: solid 2px #000;
}
.services .services-item {
  margin: 10px auto;
  width: 100%;
  display: flex;
  border: solid 2px #ffb700;
  direction: rtl;
}
.services .services-item .services-item-inner {
  border: solid 1px #eaeaea;
  direction: rtl;
  padding: 20px 0;
}
.services .services-item .services-item-inner img {
  width: 100%;
  border-bottom: solid 1px #eaeaea;
}
.services .services-item .services-item-inner .star-icon {
  padding: 0px 20px;
}
.services .services-item .services-item-inner .star-icon i {
  color: #ffb700;
}
.services .services-item .services-item-inner p {
  margin: 5px;
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
  line-height: 25px;
}
.services .services-item .services-item-inner p:hover {
  color: #ffb700;
  cursor: pointer;
}
.services .services-item .services-item-inner h6 {
  margin: 5px;
  width: 100%;
  padding: 10px 20px;
  font-weight: bold;
  line-height: 25px;
  font-size: 18px;
}
.services .services-item .services-item-inner h6:hover {
  color: #ffb700;
  cursor: pointer;
}
.services .services-item .services-item-inner h6:hover .icon_price {
  color: #ffb700;
}
.services .services-item .services-item-inner .icon_close {
  display: none;
}
.services .services-item .services-item-inner button {
  background-color: #ffb700;
  color: #000;
  font-weight: bold;
  padding: 5px 0px;
  width: 80%;
  margin: 0 20px;
  border: solid 2px #ffb700;
  border-radius: 5px;
}
.services .services-item .services-item-inner button:hover {
  background-color: #000;
  color: #fff;
  border: solid 2px #000;
}
.services .services-item .services-item-inner span {
  position: absolute;
  top: 14px;
  left: 13px;
  background: red;
  width: 300px;
  height: 186px;
  display: none;
}

@media (max-width: 575.98px) {
  .col-lg {
    padding: 0;
  }
  .services {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 767.98px) {
  .col-lg {
    padding: 0;
  }
  .services {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 991.98px) {
  .col-lg {
    padding: 0;
  }
  .services {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 1199.98px) {
  .col-lg {
    padding: 0;
  }
  .services {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .services .services-item-data {
    padding: 14px;
  }
}
@media (min-width: 1200px) {
  .col-lg {
    padding: 0;
  }
  .services {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .services h6 {
    font-size: 16px;
  }
}
.select {
  direction: rtl;
  width: 60%;
  height: 580px;
  padding: 5%;
  background: #222;
  position: absolute;
  top: -1000px;
  left: 20%;
  transition: 0.5s;
  overflow-y: auto;
  margin: auto;
}

.select.display {
  top: 10px;
}

.select.hige {
  display: none;
}

.select .services-item-inner {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 5px;
  border: 1px solid white;
  position: relative;
  margin: 5px auto;
}

.select .services-item-inner img {
  width: 300px;
  height: 100%;
}

.select .services-item-inner p {
  padding: 10px 48px 10px 40px;
  display: block;
  color: white;
}

.select .services-item-inner h6 {
  position: absolute;
  left: 45%;
  top: 40%;
  color: white;
}

.select .services-item-inner .icon_price {
  color: white;
}

.select .services-item-inner .icon_close {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffb700;
  padding: 3px 5px;
  border: solid 1px #7f767d;
  border-radius: 50%;
  cursor: pointer;
}

.select .services-item-inner .star-icon {
  border: none;
  position: absolute;
  left: 39%;
  top: 58%;
}

.select .services-item-inner .star-icon i {
  color: #ffb700;
}

.select .services-item-inner button {
  position: absolute;
  color: white;
  left: 37%;
  background-color: #ffb700;
  color: #000;
  top: 75%;
  padding: 4px 30px;
}
.select .services-item-inner button:hover {
  background-color: #000;
  color: #fff;
}

.select .services-item-inner span {
  display: none;
}

.contact {
  padding: 50px 0 200px;
  position: relative;
}
.contact h2 {
  font-family: "Alexandria", sans-serif;
  font-family: "Amiri", serif;
  font-family: "Cairo", sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
}
.contact span {
  color: #ffb700;
}
.contact form {
  text-align: center;
}
.contact form input {
  width: 40%;
  padding: 10px 25px;
  margin: 12px 10px;
  border-radius: 5px;
  border: solid 1px #ffb700;
}
.contact form .input-masseage {
  width: 84%;
  padding: 10px 25px 100px;
  margin: 12px 10px;
  border-radius: 5px;
  border: solid 1px #ffb700;
}
.contact form button {
  background-color: #ffb700;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  width: 84%;
  border: solid 1px #ffb700;
  padding: 12px 0;
  margin-top: 10px;
}
.contact form button:hover {
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
}
.contact .contact_car {
  width: 10%;
  transform: scaleX(-1);
  position: absolute;
  bottom: -30px;
  right: 0%;
  -webkit-animation: animation_car 4s 1s infinite;
          animation: animation_car 4s 1s infinite;
}
@-webkit-keyframes animation_car {
  from {
    transform: translateX(0) scaleX(-1);
  }
  to {
    transform: translateX(-800px) scaleX(-1);
  }
}
@keyframes animation_car {
  from {
    transform: translateX(0) scaleX(-1);
  }
  to {
    transform: translateX(-800px) scaleX(-1);
  }
}
.contact .contact_build {
  width: 25%;
  position: absolute;
  bottom: -115px;
  left: 10%;
}

@media (max-width: 1399.98px) {
  .contact .contact_car {
    display: none;
  }
  .contact .contact_build {
    display: none;
  }
}
.info {
  background-color: #d6d5d4;
  padding: 50px 0;
  border-top: solid 5px #7f767d;
}
.info h6 {
  padding: 20px 0;
  color: #4c4b4c;
}

footer {
  padding: 30px 0;
  background-color: #7f767d;
  color: #fff;
}
footer h3 {
  padding: 5px 30px;
  font-weight: bold;
}
footer h4 {
  color: #ffb700;
  padding: 10px 0;
}
footer h6 {
  padding: 12px 0;
}
footer .footer-icon i {
  color: #ffb700;
  padding: 10px;
  cursor: pointer;
}
footer ul {
  cursor: pointer;
}
footer ul li {
  list-style: none;
  padding: 5px 0;
}

.footer-copy-right {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
}
.footer-copy-right p {
  font-size: 14px;
  padding-top: 5px;
}

@media (max-width: 991.98px) {
  .footer-data {
    padding-right: 30px;
    padding-bottom: 20px;
  }
  h3 {
    padding-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .footer-copy-right img {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */